/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-simple-alert  {
  background: #FFFAB5;
  margin-bottom: 2em;
  padding: 1.25em 1.75em;
  font-weight: 500;

  p, ul, li, ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
